{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container">
    <div class="about">
        <h2>About Us</h2>
        <p>Welcome to our tourism website! We are a team of three computer science students,
            Fahad, Ahmed, and Nariman, who are passionate about exploring the world and showcasing
            the best of what it has to offer. Our graduation project has given us the opportunity
            to create a platform that not only allows travelers to plan their perfect trip but also
            enables them to experience the world like never before. With our combined expertise in
            web development, design, and computer science, we are confident that our website will
            provide an unforgettable journey for anyone who uses it. Thank you for choosing us,
            and we hope you enjoy your experience with our website!</p>
        </div>
        <h2>Our Team</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="{% static 'img/Pictures/Fahad.jpg' %}" alt="Fahad" class="about-img">
                    <div class="container">
                        <h2>Fahad Hayan</h2>
                        <h5>Team Leader</h5>
                        <p>Website Developer & Designer</p>
                        <p>fahad.hayan.aljashaam@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="{% static 'img/Pictures/Nariman.jpg' %}" alt="Nariman" class="about-img">
                    <div class="container">
                        <h2>Nariman Ali</h2>
                        <h5>Theoretical project coordinator</h5>
                        <p>Writer & Researcher</p>
                        <p>example@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="{% static 'img/Pictures/Ahmed.jpg' %}" alt="Ahmed" class="about-img">
                    <div class="container">
                        <h2>Ahmed Nazar</h2>
                        <h5>Theoretical project reviewer</h5>
                        <p>Writer & Researcher</p>
                        <p>example@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    
</div>


{% endblock content %}