{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container safe-area">
    <!-- Default dropend button -->
    <div class="btn-group dropend">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropend
        </button>
        <ul class="dropdown-menu">
            <!-- Dropdown menu links -->
        <li><a class="dropdown-item active" href="">All</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="">item 2</a></li>
        <li><a class="dropdown-item" href="">item 3</a></li>
        </ul>
    </div>

    <div class="accordion mb-5 mt-5" id="accordionExample">
        <div class="accordion-item">
        {% for category in categories %}
        <h2 class="accordion-header" id="heading{{category}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{category}}" aria-expanded="true" aria-controls="collapse{{category}}">
                {{category}} Tourism
            </button>
        </h2>
        {% for city in cities %}
        {% if country == city.country and category == city.category %}
        <!--  -->
            <div id="collapse{{category}}" class="accordion-collapse collapse show"
                aria-labelledby="heading{{category}}">
                <div class="accordion-body p-0">
                    <div class="column">
                        <div class="card text-light mt-3" id="{{city.name}}">
                            <a href="{% url 'details' %}" onclick="">
                                <img src="{{city.image.url}}" alt="{{city.name}}" class="card-img-top">
                                <div class="card-body">
                                    <div class="badge-container">
                                        <div class="badge">{{city.category}} Tourism</div>
                                    </div>
                                    <h4 class="card-title">{{city.name}} <sub>{{city.country}}</sub></h4>
                                    <p class="card-text">{{city.caption}}</p>
                                    <p id="exchange-text">USD exchange rate: ${{city.exchangeRate}}</p>
                                    <p id="rating-text"><img src="{% static 'img/Icons/star-filled.svg' %}"
                                            id="star-icon" class="d-inline">
                                        {{city.rating}}</p>
                                </div>
                            </a>
                            <button type="button" id="favorite-btn"> <img class="{{city.name}}F-icon"
                                    src="{% static 'img/Icons/Favorite-outlined.svg' %}"
                                    onclick="toggleFavorite('{{city.name}}')"></button>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}