{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Hero-->

<section id="hero" class="bg-dark text-light text-center text-lg-start">
    <div class="container sticky-top" style="padding-bottom:21vh ; width:fit-content">
        <div class="d-md-flex align-items-center justify-content-center">
            <div class="py-3 px-3">
                <h2>Explore the world with Guideme</h2>

                <p class="py-1 lead">With guideme you can find and discover new places that you never visited before,
                    You can also read what people say about the places they visited and their ratings, in
                    addition, you can also see the currency exchange of each site you want to visit.</p>
                <a href="#content"><button class="btn btn-dark" id="get-started">Get Started</button></a>

            </div>
            <img class="img-fluid w-50" src="{% static 'img//Illustrations/hero-adventure-map.svg' %}"
                alt="adventure map image">
        </div>
    </div>
</section>

<!--Content-->
<section id="content">
    <div class="px-5 my-3">
        <!--Countries-->
        <div class="heading-link mx-2 mt-3">
            <h3><a href="countries" class="text-decoration-underline text-primary">Countries</a></h3>
        </div>
        <div class="owl-carousel">
            {% for country in Countries %}
            <div class="card text-light p-0" id="{{country.name}}">
                <a href="countries/{{country.name}}">
                    <img data-src="{{country.image.url}}" alt="{{country.name}}" class="card-img-top owl-lazy">
                    <div class="card-body country-card">
                        <h4 class="card-title text-center text-white">{{country.name}}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <hr>
        <!--Cities Cards-->
        <div class="heading-link mx-2 mt-3">
            <h3><p>Top 10 of Most Rated Cities</p></h3>
        </div>
        <div class="owl-carousel">
            {% for city in mostRated %}

            <div class="card text-light p-0" id="{{city.id}}">
                <a href="countries/{{city.country}}/{{city.id}}" onclick="">
                    <img data-src="{{city.image.url}}" alt="{{city.name}}" class="card-img-top owl-lazy">
                    <div class="card-body">
                        <div class="badge-container">
                            <div class="badge">{{city.category}} Tourism</div>
                        </div>
                        <h4 class="card-title">{{city.name}} <sub>{{city.country}}</sub></h4>
                        <p class="card-text">{{city.caption}}</p>
                        <p id="exchange-text">USD exchange rate: ${{city.exchangeRate}}</p>
                        <p id="rating-text"><img src="{% static 'img/Icons/star-filled.svg' %}" id="star-icon"
                                class="d-inline"> {{city.rating}}</p>
                    </div>
                </a>
                {% if user.is_authenticated %}
                {% if city in user.wishlist.cities.all %}
                <form action="{% url 'wishlist_add_remove' city.id %}" method="POST" target="wishlist-iframe">
                    {% csrf_token %}
                    <button type="submit" id="favorite-btn" class="wishlist-btn"><img
                        class="{{city.name}}F-icon" src="{% static 'img/Icons/Favorite-filled.svg' %}"></b>
                </form>
                
                {% else %}
                <form action="{% url 'wishlist_add_remove' city.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" id="favorite-btn" class="wishlist-btn"><img
                        class="{{city.name}}F-icon" src="{% static 'img/Icons/Favorite-outlined.svg' %}"></button>
                </form>
                {% endif %}
                {% else %}
                <a href="{% url 'signin' %}" id="favorite-btn" class="wishlist-btn"><img
                    class="{{city.name}}F-icon" src="{% static 'img/Icons/Favorite-outlined.svg' %}"></a>
                {% endif %}
            </div>

            {% endfor %}
        </div>
        {% for category in categories %}
        <div class="heading-link mx-2 mt-3">
            <h3><a href="categories/{{category}}" class="text-decoration-underline text-primary">{{category}} Tourism</a></h3>
        </div>

        <!-- <div class="mx-1 mt-3 clearfix">
                <a class="float-end" href="#">see more></a>
            </div> -->

        <div class="owl-carousel">
            {% for city in cities %}
            {% if city.category == category%}
            <div class="card text-light p-0" id="{{city.name}}">
                <a href="countries/{{city.country}}/{{city.id}}" onclick="">
                    <img data-src="{{city.image.url}}" alt="{{city.name}}" class="card-img-top owl-lazy">
                    <div class="card-body">
                        <div class="badge-container">
                            <div class="badge">{{city.category}} Tourism</div>
                        </div>
                        <h4 class="card-title">{{city.name}} <sub>{{city.country}}</sub></h4>
                        <p class="card-text">{{city.caption}}</p>
                        <p id="exchange-text">USD exchange rate: ${{city.exchangeRate}}</p>
                        <p id="rating-text"><img src="{% static 'img/Icons/star-filled.svg' %}" id="star-icon"
                                class="d-inline"> {{city.rating}}</p>
                    </div>
                </a>
                {% if user.is_authenticated %}
                {% if city in user.wishlist.cities.all %}
                <form action="{% url 'wishlist_add_remove' city.id %}" method="POST" target="wishlist-iframe">
                    {% csrf_token %}
                    <button type="submit" id="favorite-btn" class="wishlist-btn"><img
                        class="{{city.name}}F-icon" src="{% static 'img/Icons/Favorite-filled.svg' %}"></b>
                </form>
                
                {% else %}
                <form action="{% url 'wishlist_add_remove' city.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" id="favorite-btn" class="wishlist-btn"><img
                        class="{{city.name}}F-icon" src="{% static 'img/Icons/Favorite-outlined.svg' %}"></button>
                </form>
                {% endif %}
                {% else %}
                <a href="{% url 'signin' %}" id="favorite-btn" class="wishlist-btn"><img
                    class="{{city.name}}F-icon" src="{% static 'img/Icons/Favorite-outlined.svg' %}"></a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}