{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--Hero-->

    <section id="hero" class="bg-dark text-light text-center text-sm-start">
        <div class="container my-auto">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div class="py-3 px-3">
                    <h2>Explore the world with Guideme</h2>

                    <p class="py-1 lead">With guideme you can find and discover new places that you never visited before, You can also read what people say about the places they visited and their ratings, in
                        addition, you can also see the currency exchange of each site you want to visit.</p>
                    <a href="#content"><button class="btn btn-dark" id="get-started">Get Started</button></a>

                </div>
                <img class="img-fluid w-50" src="{% static 'img//Illustrations/hero-adventure-map.svg' %}"
                    alt="adventure map image">
            </div>
        </div>
    </section>


    <!--Content-->
    <section id="content">
        <div class="px-5 my-3">
            {% for catigory in catigories %}
            <h3>{{catigory}}</h3>
            <div class="owl-carousel">
                {% for city in cities %}
                {% if city.catigory == catigory or catigory == 'Most Rated'%}
                <div class="card  text-light p-0" id="{{city.name}}">
                    <a href="#details.html">
                        <img data-src="{{city.image.url}}" alt="{{city.name}}" class="card-img-top owl-lazy">
                        <div class="card-body">
                            <container class="badge-container">
                                <div class="badge">{{city.catigory}}</div>
                            </container>
                            <h4 class="card-title">{{city.name}}</h4>
                            <p class="card-text">{{city.caption}}</p>
                            <p id="exchange-text">USD exchange rate: {{city.exchangeRate}} USD</p>
                            <p id="rating-text"><img src="{% static 'img/Icons/star-filled.svg' %}"
                            id="star-icon" class="d-inline"> {{city.rating}}</p>
                        </div>
                    </a>
                    <button type="button" class="btn favorite-btn"> <img id="{{city.name}}-Ficon"
                            data-src="{% static 'img/Icons/Favorite-outlined.svg' %}" class="owl-lazy"
                            onclick="{iconChange('{{city.name}}-Ficon')}"></button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}