@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
    --canvas-color: #D9D9D9;
    --primary-color: #0d6efd;
    --secondary-color:rgba(0, 0, 0, 0.8);
    --heading-text-color: #000;
    --paragraph-text-color: rgb(100, 100, 100);
    --on-hover-primary-color: #0d6efd99;
    --shadow-color: #00000033;
    --black: #000;
    --white: #fff;

    --border-radius: 5px;
    --paragraph-font-size: 18px;
}
body{
    /* width: 100%; */
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:var(--canvas-color);
    font-family: 'Roboto Slab', serif;
    /* padding-top: 14vh; */
    /* margin-top: 12vh; */
}
#navbar{
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    /* height: 12vh; */
    transition: top 0.5s;
    background-color: var(--secondary-color);
    z-index: 1100; /*z-index to bring the navbar in front of everything in the page*/
}

li.nav-item:hover{
    text-decoration: underline;
    color: var(--white);
    border-radius: var(--border-radius);
    margin-right: 5px;
    background-color: var(--primary-color);
}
.display-6{
    color: var(--primary-color);
}
div.heading-link > h3 > a{
    text-decoration: none;
    color: var(--heading-text-color);
}
div.heading-link > h3 > a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}
#login-link{
    position: fixed;
    right: 0;
    margin-right: 100px;
    /* background-color: #3C60AC; */
}
#google-map{
    /* width: 60%; */
    height: 50vh;
    border-radius: var(--border-radius);
    /* margin-bottom: 10px; */
}
.masthead{
    background-size: cover;
    min-height: 60vh;
    position: relative;
    border-radius: var(--border-radius);
}
@media(max-width:768px){
    .masthead{
        min-height: 30vh;
    }
}
.details-img{
    height:50vh;
    width:auto;
    border-radius: var(--border-radius);
    align-self: center;
    box-sizing: content-box;
}

#hero{
    padding-top: 14vh;
}
.btn{
    background-color: var(--primary-color);
}
.btn:hover{
    background-color: var(--on-hover-primary-color);
}
.card {
    display: flex;
    margin: 0% 2% 2% 2%;
}
.card a:link{
text-decoration: none;
}
.card-title{
    color: var(--heading-text-color);
}
.country-card{
    background-color: var(--primary-color);
    border-radius: 0 0 5px 5px;
}
#favorite-btn{
    position:absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    background-color: transparent;
    border: none;
    transform: scale(70%,70%);
}
.badge-container{
    position: absolute;
}
.badge{
    position: relative;
    top: -30px;
    width: fit-content;
    text-align: center;
    font-size:small;
    font-weight: 100;
    background-color: var(--primary-color);
}
#star-icon{
    width: 14px;
}
#rating-text,#exchange-text{
    opacity: .75;
    margin: 0%;
    font-size: small;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.card-text { 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card p{
    color: var(--paragraph-text-color);
    font-size: var(--paragraph-font-size);
}
.card h4{
    color: var(--heading-text-color);
    
}
.card-img-top{
    height: 25vh;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

#sign-forms{
    width: 25%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.owl-prev{
    left: -30px;
}
.owl-next{
    right: -30px;
}
.owl-prev , .owl-next{
    position: absolute;
    top: 90px;
    
}

.owl-prev span, .owl-next span{
    font-size: 80px;
    color: var(--primary-color);
}
.social-icon img{
    width: 35px;
    margin: 10px;
}

#footer{
    margin-top: auto;
}

/* .toggle-password-visibility {
    display: flex;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.toggle-password-visibility__input {
    border-color: transparent;
    flex: 1;
}

.toggle-password-visibility__toggle {
    background: #fff;
    border-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
} */

#passEye-button{
    border: none;
    background-color: transparent;
}

input:focus, button:focus {
    border: 1px !important;
    box-shadow:var(--primary-color) !important;
}

.btn, input{
    border-radius:5 !important;
}


/* about page */
.about {
    font-size: var(--paragraph-font-size);
    color: #333;
    line-height: 1.5;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about h2 {
    /* font-size: 24px; */
    color: var(--heading-text-color);
    margin-bottom: 10px;
}

.about p {
    margin-bottom: 10px;
    font-size: var(--paragraph-font-size);
}

.about a {
    color: #007bff;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}


.column {
    float: left;
    width: 30%; 
    margin-bottom: 16px;
    padding: 0 8px;
}

.column div.card {
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    /* margin: 8px; */
    border-radius: var(--border-radius);
}
.about-img{
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.safe-area{
    padding-top: 13vh;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: var(--on-hover-primary-color);
}
.accordion{
    /* --bs-accordion-color: trasparent; */
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-color: var(--white);
    --bs-accordion-btn-bg: var(--primary-color);
    --bs-accordion-active-color: var(--white);
    --bs-accordion-active-bg: var(--on-hover-primary-color);
}
.accordion-header{
    padding-bottom: 5px;
    /* margin-top: 5px; */
    /* border: 1px solid var(--black); */
}
@media screen and (max-width: 850px) {
    .column {
    width: 100%;
    display: block;
    }
}

.modal{
    z-index: 1101;
}

