{% load static %}
<!--Footer-->
    <section id="footer">

        <footer class="text-center text-white bg-dark" id="footer">
            <!-- Grid container -->
            <div class="container pt-4">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="social-icon" href="https://www.facebook.com/fh5am/"
                        ><img src="{% static 'img/Icons/Facebook.svg' %}"></a>

                    <!-- Twitter -->
                    <a class="social-icon" href="#!"
                        ><img src="{% static 'img/Icons/Twitter.svg' %}"></a>
                    <!-- Instagram -->
                    <a class="social-icon" href="https://www.instagram.com/fh_5am/"
                        ><img src="{% static 'img/Icons/Instagram.svg' %}"></a>

                    <!-- Linkedin -->
                    <a class="social-icon" href="https://www.linkedin.com/in/fahad-hayan/"
                        ><img src="{% static 'img/Icons/Linkedin.svg' %}"></a>
                    <!-- Github -->
                    <a class="social-icon" href="https://github.com/Fahad-Hayan"
                        ><img src="{% static 'img/Icons/Github.svg' %}"></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright: Guideme™
            </div>
            <!-- Copyright -->
        </footer>
    </section>